@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-icon-color-success: #0d9488;
}

// fonts
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*:focus {
  border-color: #55dece;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(20, 184, 166, 0.4);
  transition: all 0.4s ease;
}

// components
@layer components {
  .btn {
    @apply px-[11px] py-[6px] xl:px-[9px] xl:py-[5px] lg:px-[8px] lg:py-[4px] md:px-[13px] rounded-[6px] whitespace-nowrap;
  }

  .btn-navy {
    @apply bg-navy btn text-white;
  }

  .btn-blue {
    @apply bg-blue-600 btn text-white;
  }

  .btn-orange {
    @apply bg-orange-700 btn text-white;
  }

  .btn-teal {
    @apply bg-teal-600 btn text-white;
  }

  .btn-red {
    @apply bg-red-600 btn text-white;
  }

  .btn-black {
    @apply bg-black btn text-white;
  }

  .btn-indigo {
    @apply bg-indigo-600 btn text-white;
  }

  .alert-orange {
    @apply mb-[18px] bg-orange-900 text-yellow-600 rounded-md w-full px-[15px] py-[8px] text-center border-[2px] border-yellow-400;
  }
}
