@tailwind base;
@tailwind components;
@tailwind utilities;

// fonts
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*:focus {
  border-color: #55dece;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(20, 184, 166, 0.4);
  transition: all 0.4s ease;
}

// components
@layer components {
  .btn-navy {
    @apply bg-navy text-white px-[11px] py-[6px] rounded-[6px];
  }

  .btn-blue {
    @apply bg-blue-600 text-white px-[11px] py-[6px] rounded-[6px];
  }

  .btn-orange {
    @apply text-white bg-orange-700 px-[11px] py-[6px] rounded-[6px];
  }

  .btn-teal {
    @apply text-white bg-teal-600 px-[11px] py-[6px] rounded-[6px];
  }

  .btn-red {
    @apply text-white bg-red-600 px-[11px] py-[6px] rounded-[6px];
  }

  .btn-black {
    @apply text-white bg-black px-[11px] py-[6px] rounded-[6px];
  }

  .btn-indigo {
    @apply text-white bg-indigo-600 px-[11px] py-[6px] rounded-[6px];
  }

  .alert-orange {
    @apply mb-[18px] bg-orange-900 text-yellow-600 rounded-md w-full px-[15px] py-[8px] text-center border-[2px] border-yellow-400;
  }
}
